<main id="root">
    <div class="load-error">
        <h3>Whoops, there seems to be a problem loading this page.</h3>
        <h3>Please contact gevuong18@gmail.com</h3>
        <div className="main-content not-found">
          <h3>Click <a href="/">Here</a> to return Home.</h3>
        </div>
    </div>
</main>
